VITE_GEMINI_API_KEY=
VITE_ORCID_CLIENT_ID=APP-FIV2ITMHWJTH29SV
VITE_ORCID_CLIENT_SECRET=
VITE_ORCID_REDIRECT_URI=http://localhost:5173/auth/orcid-callback
VITE_SCOPUS_API_KEY=
VITE_SPACETIMEDB_HOST=wss://maincloud.spacetimedb.com
VITE_SPACETIMEDB_DB_NAME=categoria-k4x5z
VITE_ADMIN_USER=admin
VITE_ADMIN_PASSWORD=Admin123!
VITE_AUXILIAR_USER=auxiliar
VITE_AUXILIAR_PASSWORD=Auxiliar123!
VITE_DIRECTOR_USER=director
VITE_DIRECTOR_PASSWORD=Director123!
VITE_TALENTO_HUMANO_USER=talentohumano
VITE_TALENTO_HUMANO_PASSWORD=Talento123!
VITE_R2_PUBLIC_URL=https://tu-dominio-publico.r2.dev
